@use "sass:math";
@media (max-width: 768px) and (orientation: portrait) {
    html {
        font-size: math.div(1, 3.6)+vw;
    }

    .header {
        padding: 24rem 16rem;
    }

    .menu {
        gap: 20rem;
    }

    .menu__element {
        display: none;
    }

    .menu__burger-button {
        display: flex;
    }

    .menu__burger-button-text {
        display: none;
    }

    .button_transparent {
        display: none;
    }

    .menu__phone-icon {
        display: flex;
    }

    .header__logo {
        height: 48rem;
        width: 48rem;
    }

    .cover {
        padding: 140rem 16rem;
        height: 592rem;

    }

    .cover__heading {
        font-weight: 800;
        font-size: 40rem;
        line-height: 58rem;
        height: 224rem;
        width: 328rem;
        word-wrap: break-word
    }

    .footer {
        flex-direction: column;
        align-items: flex-start;
        width: 360rem;
        height: 792rem;
    }

    .contacts {
        flex-wrap: wrap;
        padding: 144rem 16rem;
    }

    .contacts__group {
        width: 324rem;
    }

    .footer__copyright {
        flex-direction: column;
        padding: 24rem 16rem;
        height: 112rem;
    }

    .footer__copyright-text {
        width: 324rem;
    }

    .contacts__mail-and-time {
        height: 56rem;
    }
}