@use "sass:math";
@media (min-width: 1600px) {
    html {
        font-size: math.div(1, 19.2)+vw;
    }
    .menu__burger-button {
        display: none;
    }
    .menu__phone-icon-small {
        display: none;
    }
    .menu__phone-icon {
        display: none;
    }
}
