.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    gap: 4px;
    transition: var(--transition-duration) linear;
    color: var(--color-gray);

    &_transparent {
        box-sizing: border-box;
        padding: 12px 24px;
        border: 1px solid var(--color-gray);
        font-weight: 600;
    }

    &_blue {
        box-sizing: border-box;
        padding: 16px 32px;
        background-color: var(--color-accent);
        color: var(--color-light);
        font-weight: 600;
    }
}

.button_transparent:hover {
    color: var(--color-accent);
    border-color: var(--color-accent);
}

.button_blue:hover {
    background-color: var(--color-accent-light);
}