@use "../adaptive/media";
@use "../variables";

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 32rem;
    column-gap: 4rem;
    transition: variables.$transition-duration linear;
    color: variables.$color-gray;

    &_transparent {
        padding: 12rem 24rem;
        border: 1rem solid variables.$color-gray;
        font-weight: 600;

        &:hover {
            color: variables.$color-accent;
            border-color: variables.$color-accent;
        }
    }

    &_blue {
        padding: 16rem 32rem;
        background-color: variables.$color-accent;
        color: variables.$color-light;
        font-weight: 600;

        &:hover {
            background-color: variables.$color-accent-light;
        }
    }
}