@use "../mixins";
.header {
    @include mixins.display();
    display: flex;
    justify-content: space-between;
    top: 0;
    position: sticky; 
    padding: 24rem 320rem;
    background: var(--color-light);

    &__logo {
        width: 64rem;
        height: 64rem;
    }

    &__menu {
        display: flex;
        align-items: center;
        gap: 40rem;

        &-element {
            display: flex;
        }

        &-link {
            font-weight: 600;
            color: var(--color-gray);
        }
    }
}

.header__menu-link:hover {
    color: var(--color-accent);
}